*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
    box-sizing: border-box;
}


html{
    scroll-behavior: smooth;
}


body{
    background-color: black;
    color: white;
}


#header{
    width: 100%;
    height: 100vh;
    background-image: url(images/background.png);
    background-position: center;
    background-size: cover;
}


.container{
    padding: 10px 10%;
}


nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}


.logo{
    width:140px;
}


nav ul li {
    display : inline-block ; 
    list-style: none ;
    margin: 10px 20px;
}


nav ul li a {
    font-size: 18px;
    text-decoration: none;
    position: relative;
}


nav ul li a::after {
    content: '';
    width: 0 ;
    height: 3px;
    background:hsl(0, 62%, 28%) ;
    position: absolute;
    left:0;
    bottom: -6px;
    transition: 0.5s;
}


nav ul li a:hover::after {
    width: 50px;
}


.header_text{
    margin-top: 20%;
    font-size: 20px;
}


.header_text h1{
    margin-top: 20px;
    font-size: 60px;
}

.header_text h1 span {
    color: rgb(64, 30, 95);
}

/* ---------------about------------ */

#about{
    padding : 80px 0;
}


.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


.col1{
    flex-basis: 35%;
}

.col1 img {
    width: 100%;
    border-radius: 15%;
}


.col2{
    flex-basis: 60%;
}


.sub-title{
    font-size: 60px;
    font-weight: 600;
}


.tittles-info{
    display: flex;
    margin: 20px 0 40px ;
}


.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    position: relative;
}


.tab-links::after{
    content: "";
    height: 3px;
    width: 0%;
    background: rgb(226, 14, 131);
    position : absolute ; 
    left: 0px;
    bottom:-8px ;
    transition: 0.5s;
}


.tab-links.active-link::after{
    width: 50%;
}


.tab-links {
    position: relative;
}



.tab-content ul li{
    list-style: none;
    margin: 10px 0;
}


.tab-content ul li span{
    color: #b54769;
    font-size: 20px;
}


.tab-content{
    display: none;
}

.tab-content.active-tab{
    display: block;
}

/* ------------services--------------- */

#services{
    padding: 30px 0;
}


.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap: 40px;
    margin-top: 50px;
}


.services-list div {
    background: rgb(38, 38, 38) ;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius:10px ;
    transition: background 0.5s, transform 0.5s;
}
.services-list div i {
    font-size: 50px;
    margin-bottom:30px;
}
.services-list div h2 {
    font-size: 30px;
    font-weight:500px ;
    margin-bottom:15px;
}
.services-list div a {
    font-size: 12px;
    margin-bottom:20px;
    text-decoration: none;
    color: white;
    display: inline-block ;
}
.services-list div:hover {
    background: #ff004f;
    transform: translateY(-10px);
}

/* ------------contact--------------- */

.contact-left{
    flex-basis: 35%;
}


.contact-right{
    flex-basis: 60%;
}


.contact-left p {
    margin: 30px;
}


.contact-left p i  {
    margin-right: 15px;
    color: #ff004f;
    font-size:25px ;
}


.social-icon {
    margin-top: 30px;
}


.social-icon a {
    margin-right: 15px;
    font-size: 30px;
    text-decoration:none;
    color : white ;
    display: inline-block;
    margin-left: 15px;
    transition: transform 0.5s;
}


.social-icon a:hover {
    transform: translateY(-5px);
    color : #ff004f;
}


.btn{
    margin: 40px 30px;
    font-size: 15px;
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    border-radius: 5px; 
    
}

.btn.btn2{
    display: inline-block;
    background: #ff004f;
}


.contact-right form {
    width: 100% ;
}


form input, form textarea{
    width:100% ;
    border: 0;
    background: #262626;
    outline: none;
    padding: 15px;
    margin: 15px 0;
    color: white;
    font-size: 18px;
    border-radius: 6px;
}


form.btn2{
    padding: 14px 60px;
    margin-top: 20px;
    font-size: 18px;
    cursor: pointer;
}


.copyright{
    width: 100%;
    text-align:center ;
    padding:26px 0 ;
    background: #262626;
    font-weight:300px ;
    margin-top:20px;
}


#msg{
    color: #61b752;
    margin-top: -40;
    display: block;
}


/* -----------------css for mobiles----------- */

nav .fas{
    display: none;
        }

@media only screen and (max-width: 600px)  {

    #header{
        background-image: url(images/phone-background.png);
    }


    .header_text{
        margin-top:100%;
        font-size: 16px;
    }
    

    .header_text h1{
        font-size: 30px;
    }
    
    nav .fas{
        display: block;
        font-size: 25px;
    }

    nav ul {
        background: #ff004f;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        padding: 50px;
        height: 100vh;
        z-index: 2;
        transition: 0.5s;
    }

    nav ul li{
        display: block;
        margin: 25px;
    }

    nav ul .fas{
        position: absolute;
        top: 50px;
        left: 50px;
        cursor: pointer;
    }
    .sub-title{
        font-size: 40px;
    }
    
    .col1 , .col2{
        flex-basis: 100%;
    }

    .col1{
        margin-bottom: 30px;
    }

    .col2{
        font-size: 14px;
    }

    .tab-links{
        font-size: 16px;
        margin-right: 20px;
    }

    .contact-left , .contact-right {
        flex-basis: 100%;
    }

    .copyright{
        font-size: 14px;
    }

}